html
  head  
  //Include d3 library
    script(type="text/javascript" src="d3.js")
    body
      script(type="text/javascript")
        //Append initial svg to the body of the HTML
        var mySVG = d3.select("body").append("svg");
